<nav class="Container-header">

    <div class="logo">
        <!-- Logo só como base, quaisquer problemas saibam que é só para fins educativos -->
        <a href="" class="img"><img src="assets/exemplo.png" alt="logo"></a>
    </div>
    <div class="pesquisa">
        <input type="text" placeholder="O que você quer encotrar?">
        <button class="btn-botao">🔍</button>
    </div>
    <div class="join">
        <a href="/login">
            ENTRAR
        </a>
        <a href="/cadastro">
            CADASTRAR
        </a>
    </div>
</nav>